<div class="flex justify-center">
	<table id="hotel-table">
		<thead>
			<tr>
				<th></th>
				<th>Мини</th>
				<th>Норма</th>
				<th>Макси</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-start">Тип отеля</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
			</tr>
			<tr>
				<td class="text-start">Питание</td>
				<td>Завтрак</td>
				<td>Завтрак, ужин</td>
				<td>Ресторан открыт для вас в любое время</td>
			</tr>
			<tr>
				<td class="text-start">Услуги</td>
				<td>WIFI</td>
				<td>WIFI</td>
				<td>WIFI + телевидение</td>
			</tr>
		</tbody>
	</table>
</div>

<style>
	#hotel-table {
		width: 50%;
		border-collapse: collapse;
	}

	#hotel-table th,
	#hotel-table td {
		padding: 8px;
		text-align: center;
	}

	#hotel-table th {
		background-color:;
	}
</style>
