---
import Title from "./Title.astro";
import Table from "./Table.astro";
import { HotelTable } from "./react/HotelTable";
interface Props {
	title?: string;
	subtitle?: string;
}

const { title = "три типа предложений", subtitle = "" } = Astro.props;
---

<section class="w-screen min-h-screen">
	<Title title={title} />

	<div class="mt-24">
		<Table />
	</div>
</section>
