---
import Title from "./Title.astro";
import Table from "./Table.astro";

interface Props {
	title?: string;
	subtitle?: string;
}

const { title = "три типа предложений", subtitle = "" } = Astro.props;
---

<section class="w-screen h-screen">
	<div class="flex justify-center items-end h-1/6">
		<Title title={title} subtitle={subtitle} />
	</div>

	<div class="mt-24">
		<Table />
	</div>
</section>
