---
import Stars from "../react/Stars";
---

<div class="flex justify-center">
	<table id="hotel-table" class="w-1/2">
		<thead>
			<tr>
				<th></th>
				<th>Мини</th>
				<th>Норма</th>
				<th>Макси</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-darkSlate">
				<td class="text-start font-regular text-xl">Тип отеля</td>
				<td>
					<Stars variant="purple" count={3} />
				</td>
				<td>
					<Stars variant="purple" count={4} />
				</td>
				<td>
					<Stars variant="purple" count={5} />
				</td>
			</tr>
			<tr>
				<td class="text-start font-regular text-xl">Питание</td>
				<td class="text-lightGray">Завтрак</td>
				<td class="text-lightGray">Завтрак, ужин</td>
				<td class="text-lightGray">Ресторан открыт для вас в любое время</td>
			</tr>
			<tr class="bg-darkSlate">
				<td class="text-start font-regular text-xl">Услуги</td>
				<td class="text-lightGray">WIFI</td>
				<td class="text-lightGray">WIFI</td>
				<td class="text-lightGray">WIFI + телевидение</td>
			</tr>
		</tbody>
	</table>
</div>

<style>
	#hotel-table {
		border: 0px;
		color: white;
	}

	#hotel-table th,
	#hotel-table td {
		text-align: center;
		padding: 24px;
		width: 24px;
	}

	#hotel-table th {
		background-color:;
	}
</style>
